body
{
	.describ
	{
		padding-top: 50px;
		background: url(../img/textureGroundGradiant.jpg) repeat-x;
		padding-bottom: 75px;
	}
		
	.top
	{
		width: 100%;
		height: 100vh;
		min-height: 1350px;

		video
		{
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 50% 0px;
		}

		.container 
		{
			width: 100%;
			max-width: 100%;
			position: absolute;
			top: 60%;
			text-align: center;

			.row 
			{
				margin: 0;

				.dl, .buy
				{
					width: 220px;
					height: 50px;
					background: url(../img/buttonCrystal.png) no-repeat 0px 0px;
					background-size: cover; 	
					border: 0;
					color: white;
					margin: 10px 0px 10px 0px;

					&:hover
					{
						cursor:pointer;
						background-position: 0px -50px;
					}

					@media #{$medium-and-up} 
					{
						position: relative;
						top: -90px;
					}
				}

				.s12
				{
					text-align: center;
				}
			}

			.logo
			{
				width: 100%;
				max-width: 600px;
				height: 280px;
				background: url(../img/logo.png) no-repeat;
				background-size: contain; 	
				border: 0;
			}

			video
			{
				padding-top: 10px;
				width: 200px;
				height: 150px;
				object-fit: contain;

				@media only screen and (min-width: 830px)
				{
					position: relative;
					top: -50px;
				}
			}
		}
	}
}